[project]
	description = useful ruby socket wrapper
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jeffrey Crowell (crowell)
[access "refs/for/refs/*"]
	read = group user/Jeffrey Crowell (crowell)
	push = group user/Jeffrey Crowell (crowell)
	label-Code-Review = -2..+2 group user/Jeffrey Crowell (crowell)
	label-Verified = -1..+1 group user/Jeffrey Crowell (crowell)
	rebase = group user/Jeffrey Crowell (crowell)
	removeReviewer = group user/Jeffrey Crowell (crowell)
	submit = group user/Jeffrey Crowell (crowell)
[access "refs/heads/*"]
	read = group user/Jeffrey Crowell (crowell)
	create = group user/Jeffrey Crowell (crowell)
	push = +force group user/Jeffrey Crowell (crowell)
	pushMerge = group user/Jeffrey Crowell (crowell)
[access "refs/tags/*"]
	push = +force group user/Jeffrey Crowell (crowell)
	pushTag = group user/Jeffrey Crowell (crowell)
	pushSignedTag = group user/Jeffrey Crowell (crowell)
